
.section-box{
    background: #000;
    
}

.containerBoxDetails {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;

    background: linear-gradient(148deg, rgba(249, 255, 69, 0.955) 0%, rgb(249, 255, 172) 50%, rgba(250, 255, 92, 0.884) 94%);
    box-shadow: 1px 1px 14px -1px rgba(64,65,57,0.75);
    -webkit-box-shadow: 1px 1px 14px -1px rgba(64,65,57,0.75);
    -moz-box-shadow: 1px 1px 14px -1px rgba(64,65,57,0.75);
    gap: 1rem;
}

.containerBoxDetails p {
    width: 50%;
    text-align: start;
}

hr {
    background-color: black;
    border: 1px solid;
}

.rounded-btn{
    background-color: #f9ff5c;
    border-radius: 999px;

    z-index: 3;
    margin: -1rem 0;
    color: #f9ff5c;
    transform: rotate(45deg);


}


