input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  background-color: #505050cc;
}

.nextButton {
  background-color: #fff !important;
}

.nextButton:active {
  background-color: #bfbfbf !important;
}

.nextButton:disabled {
  opacity: 0.5;
}

.nextButton:disabled:active {
  background-color: #fff !important;
}

.createButton {
  background-color: #e2e756 !important;
}

.createButton:active {
  background-color: #adb319 !important;
}

.createButton:disabled {
  opacity: 0.5;
}

.boxForm {
  min-height: calc(100vh - 86px);
  /* color: #eff3f4 */
}

.normalLabel {
  color: white;
}

.errorLabel {
  color: #e75555;
}

.normalInput {
  border-color: #373737;
  color: white;
}

.normalInput:focus {
  border-bottom-color: #e2e756;
}

.normalInput::placeholder {
  color: #505050cc;
}

.errorInput {
  border-color: #e75555;
  color: white;
}

.errorInput:focus {
  border-bottom-color: #e75555;
}

.errorInput::placeholder {
  color: #590d0d;
}

@media (min-width: 1000px) {
  .boxForm {
    min-height: 564px;
  }
}
